<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<%= f.fields_for :answer_text do |af| %>
  <div class="control-group">
    <%= f.label :answer_text, "#{answer.question.validation_rules[:presence] == '1' ? '*' : ''}#{answer.question.question_text}", class: 'control-label' %>
    <%- answer.question.options.each do |option| %>
      <div class="controls">
        <%= af.label option, class: 'checkbox' do %>
          <%= af.check_box nil, {id: nil, checked: checkbox_checked?(answer, option)}, option %>
          <%= option %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
