<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<div class="control-group">
  <%= f.label :answer_text, "#{answer.question.validation_rules[:presence] == '1' ? '*' : ''}#{answer.question.question_text}", class: 'control-label' %>
  <%- answer.question.options.each do |option| %>
    <div class="controls">
      <%= f.label "answer_text_#{option}", option, class: 'radio' do %>
        <%= f.radio_button :answer_text, option %>
        <%= option %>
      <% end %>
    </div>
  <% end %>
</div>
