<h1>
  <%= question_group.new_record? ? "New Survey" : "Edit Survey" %>
</h1>
<hr/>

<%= minimal_form_for question_group do |f| %>
  <%- if question_group.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <%- question_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.input_field :name,
                        as: :string,
                        placeholder: 'Name',
                        class: 'span6',
                        required: true %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.input_field :description,
                        as: :text,
                        :placeholder => 'Description',
                        class: 'span12',
                        rows: 6,
                        required: true %>
    </div>
  </div>

  <%= f.button :submit, 'Submit', :class => 'btn-burgundy' %>
<% end %>
