<h1>
  <%= question_group.new_record? ? "New Survey" : "Edit Survey" %>
</h1>
<hr/>

<%= minimal_form_for question_group do |f| %>
  <%- if question_group.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <%- question_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :autofocus => true, :placeholder => User.human_attribute_name(:name) %>
  <%= f.button :submit, 'Submit', :class => 'btn-burgundy' %>
<% end %>
